<%- include("partials/header") -%>

<div class="w-75 m-auto">
    <p class="display-4">Recherche d'un Produit</p>
    <form class="mb-5" action="/product/search" method="get">
        <input class="form-control" type="text" name="code" placeholder="Code du Produit" autocomplete="off">
        <div class="text-center"><button class="btn bg-info w-100 text-white" type="submit">Recherche</button></div>
    </form>
    <%- include("partials/message") -%>
    
       <% if (product){%>
        <div>
            <span class="text-danger font-weight-bold">Résultat de la recherche</span>
            <table class="table table-bordered">
              <thead>
                  <tr class="table-primary">
                      <td>Code</td>
                      <td>Description</td>
                      <td>Price</td>
                  </tr>
              </thead>
              <tbody>
                    <tr>
                        <td><%= product.code%></td>
                        <td><%= product.description%></td>
                        <td><%= product.price%></td>                    
                    </tr>
              </tbody>
          </table> 
        </div>
        <%}%>
</div>

<%- include('partials/footer') -%>